<h1>Create an account</h1>
<br>
<form method="POST" action="/signup">
  Username: <input type="text" name="username">
  Location: <input type="text" name="location">
  Password: <input type="text" name="password">
  <input type="submit" id="submit" value="Sign up!">
</form>
