<h1>Add a wine to my cellar:</h1>

<h2>Enter your new wine's information below. Producer and Quantity must be filled out. All other fields are optional.</h2>

<% if @error %>
 <div id="error" style="border: 2px solid red;">
  <%= @error %>
  </div>
<% end %>
<br>
<form action="/wines" method="POST">
  <label>Producer:</label>
  <input type="text" name="producer" id="producer"><br>
  <label>Name:</label>
  <input type="text" name="wine_name" id="wine_name"><br>
  <label>Vintage:</label>
  <input type="text" name="vintage" id="vintage"><br>
  <label>Price:</label>
  <input type="text" name="price" id="price"><br>
  <label>Quantity:</label>
  <input type="text" name="quantity" id="quantity"><br>
  <label>Tasting notes:</label>
  <input type="text" name="notes" id="notes"><br>
  <br>
  <input type="submit" value="Add Wine">
</form>
